body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #007BFF;
}

h1, h2 {
    color: #333;

    text-align: center;
}

p{
    text-align: justify;
}
.servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.servicio {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 300px;
    margin-top: 10px;
}

.button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #007BFF;
    color: white;
}

.icon {
    margin-right: 5px;
}

.complete-icon {
    cursor: pointer;
    font-size: 20px;
    color: red; 
}

.complete-icon.checked {
    color: green; 
}

.search-bar {
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
}

.search-bar button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.task-form input[type="text"],
.task-form input[type="date"],
.task-form input[type="email"],
.task-form select{
    width: 50%;  
    max-width: 225px;
    padding: 10px;  
    margin: 8px 0; 
    border: 1px solid #ccc;  
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    font-size: 16px;  
    transition: border-color 0.3s, box-shadow 0.3s;  
}

.task-form textarea {
    width: 100%; /* Para que ocupe el 100% del contenedor */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ced4da; /* Borde por defecto de Bootstrap */
    border-radius: 0.25rem; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    resize: vertical; /* Permitir redimensionar verticalmente */
}

.task-form input[type="text"]:focus,
.task-form input[type="date"]:focus,
.task-form input[type="email"]:focus,
.task-form select:focus {
    border-color: #007bff;  
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none;  
}

.task-form textarea:focus {
    border-color: #007bff; /* Color de borde al enfocar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al enfocar */
    outline: none; /* Sin contorno por defecto */
}

.task-form button {
    padding: 10px 20px; 
    border-radius: 7px; 
    font-size: 16px;  
    cursor: pointer;  
    text-align: right;
}

.task-form button.btn-danger {
    background-color: #dc3545;  
    border: none;  
}

.task-form button.btn-primary {
    background-color: #007bff;  
    border: none;  
}

.task-form button:hover {
    opacity: 0.9; 
}

nav#paginacion {
    background-color: transparent !important; /* Hace que el fondo del nav sea transparente */
    border: none; /* Elimina cualquier borde */
}


.pagination {
    background-color: transparent !important; /* Agrega !important para sobrescribir cualquier otro estilo */
    padding: 0;
    margin: 0;
    border: none; 
    display: flex;
    justify-content: center; /* Elimina cualquier borde extra */
}

.page-item {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina los márgenes */
    display: inline-block; /* Asegura que los elementos estén alineados horizontalmente */
}

.page-link {
    padding: 5px 10px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent !important; /* Asegura que el fondo sea transparente */
    border: none;
    display: inline-block; 
    margin: 0;/* Asegura que el tamaño del enlace sea correcto */
}

.page-link:hover {
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #0056b3; /* Cambia el color al hacer hover */
}
