html, body {
    margin: 0;
    padding: 5PX;
    background-color: #f0f8ff;
}

nav {
    background-color: #008080;
    padding: 5px; 
    margin: 0; 
    width: 100%; 
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    color: #b4e4eb;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column; /* Cambia a columna para que se muestre verticalmente */
        width: 100%;
        text-align: center;
        background-color: #008080;
    }

    nav ul li {
        display: block; /* Asegúrate de que los elementos de la lista se muestren como bloques */
        margin: 10px 0;
    }
}

h1, h2 {
    color: #333;

    text-align: center;
}

p{
    text-align: justify;
}
.servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.servicio {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 250px;
    margin-top: 10px;
}

.button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.table-responsive {
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora el scroll en dispositivos táctiles */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #007BFF;
    color: white;
}

/* Asegura que la tabla sea legible en pantallas pequeñas */
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 12px;
        padding: 5px;
    }
}


.icon {
    margin-right: 5px;
}

.complete-icon {
    cursor: pointer;
    font-size: 20px;
    color: red; 
}

.complete-icon.checked {
    color: green; 
}

.search-bar {
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
}

.search-bar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

th{
    background-color: #007bff;
    color: #ffffff;
}

.task-form input[type="text"],
.task-form input[type="date"],
.task-form input[type="email"],
.task-form select {
    width: 100%;  /* Cambiado a 100% para pantallas pequeñas */
    max-width: 400px;  /* Ancho máximo para pantallas grandes */
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.task-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 16px;
    resize: vertical;
}

.task-form input[type="text"]:focus,
.task-form input[type="date"]:focus,
.task-form input[type="email"]:focus,
.task-form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.task-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.task-form button {
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.task-form button.btn-danger {
    background-color: #dc3545;
    border: none;
}

.task-form button.btn-primary {
    background-color: #007bff;
    border: none;
}

.task-form button:hover {
    opacity: 0.9;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .task-form input[type="text"],
    .task-form input[type="date"],
    .task-form input[type="email"],
    .task-form select {
        width: 100%;  /* Los inputs ocupan todo el ancho */
    }

    .button-group {
        text-align: center; /* Centrar los botones en pantallas pequeñas */
    }

    .task-form button {
        width: 100%; /* Botones a todo el ancho en pantallas pequeñas */
        margin-top: 10px;
    }
}

nav#paginacion {
    background-color: transparent !important; 
    border: none; 
}


.pagination {
    background-color: transparent !important; 
    padding: 0;
    margin: 0;
    border: none; 
    display: flex;
    justify-content: center; 
}

.page-item {
    margin: 0; 
    padding: 0; 
    display: inline-block;
}

.page-link {
    padding: 5px 10px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent !important;
    border: none;
    display: inline-block; 
    margin: 0;
}

.page-link:hover {
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #0056b3; 
}
